body {
  display: flex;
  font-size: 25px;
  /*background-color: #f7f7f7;*/
  text-align: center;
  background-color: black;
  color: white;
}

.background {
  background: url(http://unsplash.com/photos/UJQVUWsJFBo/download);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FF4B4E;
}
.wrapper {
  mix-blend-mode: screen;
  color: black;
  background-color: white;
}

.invert-blend {
  color: white;
  background-color: black;
}

/* =============================================================================
    $fonts
============================================================================= */
* {
  font-family: Raleway;
}


/* =============================================================================
    $content
============================================================================= */


.wip {
  position: fixed;
  top: 90px;
  left: -200px;
  transform: rotate(-45deg);
  background: gray;
  color: white;
  padding: 0 200px;
  font-size: 25px;
}

/* =============================================================================
    $Footer
============================================================================= */
html {
    position: relative;
    min-height: 100%;
}
body {
  margin: 0;
}
.wrapper {
  box-sizing: border-box;
  position: relative;
  padding: 0 0 100px;
  min-height: 100vh;
}
footer {
    position: absolute;
    padding: 20px 0 0;
    border-top-style: dashed;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-around;
    >a {
      text-decoration: none;
      margin: 0 15px;
      font-size: 40px;
      &.email {
        font-size: 45px;
        >.before,
        >.after {
          display: block;
          transform: scaleY(0.1);
          font-size: .7em;
        }

        &:hover>.before,
        &:hover>.after {
          transform: scaleY(1);
          animation: pull 2s;
        }
      }
    }
    img, i {
      margin: 4px;
      height: 34px;
    }
}

@keyframes pull {
  from {
    transform: scaleY(0.1);
  }
  to {
    transform: scale(1);
  }
}
