body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background-color: #f7f7f7;
  text-align: center;
}

/*———————————————————————————————————————————————————————————————————————*\
    $fonts
\*———————————————————————————————————————————————————————————————————————*/
h1,h2,p {
  font-family: Raleway;
}


/*———————————————————————————————————————————————————————————————————————*\
    $content
\*———————————————————————————————————————————————————————————————————————*/
.container-fluid {
  /* Fix the footer at the bottom */
  min-height: calc(100vh - 180px);
  padding-left: 10%;
  padding-right: 10%;
}
.container-fluid h2 + p {
  border: 1px solid #000;
  border-radius: 4px;
  padding: 4px;
}
.container-fluid h1 {
  font-weight: bold;
}
.container-fluid li:hover {
  animation: push 1s;
  padding-left: 4px;
}
.container-fluid li + li {
  padding-bottom: 4;
}
.container-fluid li {
  width: 40vw;
  animation: pull 0.5s;
}


/*———————————————————————————————————————————————————————————————————————*\
    $Footer
\*———————————————————————————————————————————————————————————————————————*/
footer {
  border: 1px solid #eee;
  background-color: #fff;
  color: #777;
  text-align: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-top: 100px;
}
footer img {
  margin: 4px;
  height: 34px;
}



/*———————————————————————————————————————————————————————————————————————*\
    $Animations
\*———————————————————————————————————————————————————————————————————————*/
@keyframes push {
  0% {
    padding-left: 0;
  }
  100% {
    padding-left: 4px;
  }
@keyframes pull {
  0% {
    padding-left: 4px;
  }
  100% {
    padding-left: 0;
  }
}
