body {
  display: flex; // FIXME
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(http://unsplash.com/photos/UJQVUWsJFBo/download),
                    linear-gradient(45deg, rgba(111, 191, 211, 1) 0%,
                                           rgba(119, 84,  194, 1) 34%,
                                           rgba(119, 107, 197, 1) 43%,
                                           rgba(118, 171, 207, 1) 68%,
                                           rgba(60,  148, 170, 1) 100%);
}
.wrapper {
  mix-blend-mode: screen;
  color: black;
  background-color: white;
}

// unused
.invert-blend {
  color: white;
  background-color: black;
}

/* =============================================================================
    $fonts
============================================================================= */
* {
  font-family: Raleway, serif;
}


/* =============================================================================
    $content
============================================================================= */
.wip {
  position: fixed;
  top: 90px;
  left: -200px;
  transform: rotate(-45deg);
  background: black;
  color: white;
  padding: 0 200px;
  font-size: 25px;
}

h1:first-of-type {
  text-align: center;
  margin: 100px 0;
  font-size: 3em;
}

#app {
  display: block;
  margin: 0 auto;
  width: 60%;
}

p {
  text-align: justify;
  a {
    color: black;
    position: relative;
    &:hover,
    &:hover>.fa {
      color: darkgray;
    }
    &:visited::after { // FIXME: should show a "validate icon"
      position: absolute;
      top: 0;
      right: 0;
      content: 'v';
    }
  }
}



article ~ article {
  margin-top: 20px;
  &::before {
    content: '—';
    text-align: center;
    display: block;
    padding-bottom: 20px;
}
}
/* =============================================================================
    $Footer
============================================================================= */
html {
    position: relative;
    min-height: 100%;
}
body {
  margin: 0;
}
.wrapper {
  box-sizing: border-box;
  position: relative;
  padding: 0 0 100px;
  width: 100%;
  min-height: 100vh; // FIXME
}
footer {
    position: absolute;
    padding: 10px 0;
    box-sizing: border-box;
    border-top-style: dashed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    >a {
      text-align: center;
      text-decoration: none;
      margin: 0 15px;
      font-size: 30px;
      width: 40px;
      height: 40px;
      &.email {
        font-size: 35px;
        &:hover {
          color: darkgray;
        }
      }
      &:not(.email):hover {
        background-color: black;
        color: white;
      }
    }
    img, i {
      margin: 4px;
      height: 34px;
    }
}
