body {
  display: flex; }

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(http://unsplash.com/photos/UJQVUWsJFBo/download), linear-gradient(45deg, #6fbfd3 0%, #7754c2 34%, #776bc5 43%, #76abcf 68%, #3c94aa 100%); }

.wrapper {
  mix-blend-mode: screen;
  color: black;
  background-color: white; }

.invert-blend {
  color: white;
  background-color: black; }

/* =============================================================================
    $fonts
============================================================================= */
* {
  font-family: Raleway, serif; }

/* =============================================================================
    $content
============================================================================= */
.wip {
  position: fixed;
  top: 90px;
  left: -200px;
  transform: rotate(-45deg);
  background: darkgoldenrod;
  color: white;
  padding: 0 200px;
  font-size: 25px; }

.tweet {
  position: absolute;
  top: 20px;
  right: 20px; }
  .tweet > i.fa {
    font-size: 50px; }
  .tweet:hover {
    animation: wiggle .4s 2; }

.title {
  text-align: center;
  margin: 100px 0;
  font-size: 3em; }
  .title > span {
    color: darkgoldenrod; }

#app {
  display: block;
  margin: 0 auto;
  width: 60%; }

p {
  text-align: justify; }
  p a {
    color: darkblue;
    position: relative; }
    p a:visited {
      color: blue; }
    p a:hover {
      color: darkslategray; }

a,
a:visited {
  color: black; }

article {
  padding: 0 16px;
  border: 2px solid white; }
  article:hover {
    border-color: black; }

article ~ article {
  margin-top: 40px; }

/* =============================================================================
    $Footer
============================================================================= */
html {
  position: relative;
  min-height: 100%; }

body {
  margin: 0; }

.wrapper {
  box-sizing: border-box;
  position: relative;
  padding: 0 0 100px;
  width: 100%;
  min-height: 100vh; }

footer {
  position: absolute;
  padding: 10px 0;
  box-sizing: border-box;
  border-top-style: dashed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline; }
  footer > a {
    text-align: center;
    text-decoration: none;
    margin: 0 15px;
    font-size: 30px;
    min-width: 40px;
    height: 40px; }
    footer > a.email {
      position: relative;
      font-size: 35px; }
      footer > a.email::before {
        content: 'buonomo.ulysse'; }
      footer > a.email::after {
        content: 'gmail.com'; }
      footer > a.email::before, footer > a.email::after {
        transition: all .2s;
        font-size: 0; }
      footer > a.email:hover::before, footer > a.email:hover::after {
        font-size: 20px; }
    footer > a:not(.email):hover {
      color: white;
      background-color: black; }
  footer img, footer i {
    margin: 4px;
    height: 34px; }

@keyframes wiggle {
  0% {
    transform: rotate(0deg); }
  33% {
    transform: rotate(-5deg); }
  66% {
    transform: rotate(5deg); }
  100% {
    transform: rotate(0deg); } }

/*# sourceMappingURL=master.css.map */
