# Original size for icons
user-icon-big.png
cat_wink.jpg

# Sass
.sass-cache
*.css.map

# Coffee
*.js.map

# Bower
bower_components

# We do not ignore css, js and html file so that github render the website without issues